/* ----- Navigation ---- */

.history-navigation {
    display: flex;
    justify-content: flex-end;
    column-gap: 21px;
    z-index: 100;
}

.history-navigation .prev-arrow,
.history-navigation .next-arrow {
    position: relative;
    z-index: 10;
}

.history-navigation .prev-arrow .pagination-prev,
.history-navigation .next-arrow .pagination-next {
    display: inline-block;
    z-index: 10;
    width: 37px;
    height: 26px;
    vertical-align: bottom;
    z-index: 10;
}

.history-navigation .prev-arrow .pagination-prev,
.history-navigation .next-arrow .pagination-next {
    background-image: url('../icons/arrow.svg');
    background-position: center center;
}

.history-navigation .prev-arrow .pagination-prev {
    background-image: url('../icons/arrow_prev.svg');
    transform: rotate(180deg);
}

.history-navigation .prev-arrow::before,
.history-navigation .next-arrow::before {
    content: "";
    width: 2px;
    height: 2px;
    background-color: #E8E3D9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg);
    z-index: -1;
    transition: all 350ms ease-out;
}

.history-navigation .next-arrow::before {
    transform: translate(-50%, -50%) rotate(-60deg);
}


/* -- Hover -- */

.history-navigation .prev-arrow:hover::before,
.history-navigation .next-arrow:hover::before {
    width: 28px;
    height: 28px;
    transform: translate(-50%, -50%) rotate(25deg);
}

.history-navigation .next-arrow:hover::before {
    transform: translate(-50%, -50%) rotate(-25deg);
}


/* ----- Events ---- */

.history-events-wrapper {
    overflow: hidden;
    padding-top: 29px;
    padding-bottom: 20px;
    border-bottom: 3px solid #FFF2ED;
}

.history-events {
    display: flex;
    column-gap: 30px;
}

.history-event {
    flex-shrink: 0;
    width: 255px;
    max-width: 100%;
}

.history-events .title {
    display: inline-block;
    position: relative;
    padding: 10px;
    z-index: 10;
    transition: all 750ms ease-out;
}

.history-events .title.title-active {
    transform: rotate(-7.34deg);
    margin-left: 4px;
}

.history-events .separator {
    position: relative;
    margin-top: -4px;
    margin-bottom: 24px;
    width: 100%;
    height: 4px;
    transition: all 750ms ease-out;
}

.history-events .separator.separator-active {
    height: 27px;
}

.history-events .separator::after {
    content: '';
    z-index: 10;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0px solid #FFFFFF;
    border-left: 0px solid transparent;
    transition: all 750ms ease-out;
}

.history-events .separator.separator-active::after {
    border-bottom-width: 16px;
    border-left-width: 16px;
}

.history-events .description {
    transition: all 750ms ease-out;
}

.history-events .description a {
    text-decoration: underline;
    color: #FF70E6;
    transition: color 750ms ease-out;
}

.elementor-widget-text-editor a:hover {
    color: #015AE6;
}

@media screen and (max-width: 767px) {
    .history-navigation {
        justify-content: flex-start;
        column-gap: 40px;
    }
}